.cards1 {
  padding: 1rem;
  background: #fff;
}

/*  */
.todo {
  position: absolute;
  left: 28%;

  /* right: 0px; */

  /* neutral / light / white */

  background: #ffffff;
  /* grey / shade 05 */

  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  /* border-radius: 12px 12px 0px 0px; */
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 500px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  /* padding-bottom: 32px; */
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  /* margin-bottom: 32px; */
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 300px;
  background: transparent;
  color: black;
  height: auto;
  width: 620px;
  left: 0px;
  top: 0px;
  border-radius: [object Object]px;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 4px auto; */
  color: black;
  /* background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  ); */

  padding: 16px;
  /* border-radius: 5px; */
  width: 640px;
}

.todo-row:nth-child(4n + 1) {
  /* background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  ); */
}

.todo-row:nth-child(4n + 2) {
  /* background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  ); */
}

.todo-row:nth-child(4n + 3) {
  /* background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  ); */
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}
.user_icon {
  position: absolute;
  left: 90%;
  top: 30px;
}
.delete-icon {
  margin-right: 5px;
  color: black;
}

.edit-icon {
  color: black;
}

.feed {
  position: absolute;
  width: 256px;
  height: 761px;
  left: 1063px;
  top: 220px;
  overflow: hidden;
  display: flex;
}
.menu {
  position: absolute;
  left: 10%;
  right: 72%;
  /* top: 7.42%; */
  top: 150px;

  background: #ffffff;
  border: 1px solid #e6e6e6;
  box-shadow: -1px 3px 4px 2px rgba(0, 0, 0, 0.07);
  border-radius: 19px;
  overflow: hidden;
}
.c1 {
  position: absolute;
  /* height: 20px; */
  /* left: 13.68%; */
  /* right: 81.04%; */
  top: calc(50% - 20px / 2 - 694px);

  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */

  color: #878787;
}
.c2 {
  position: absolute;
  height: 20px;
  /* left: 13.68%; */
  /* right: 81.04%; */
  top: calc(50% - 20px / 2 - 694px);
  margin-top: 20px;
  margin-bottom: 10px;

  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */

  color: #878787;
}
.c3 {
  position: absolute;
  /* height: 20px; */
  /* left: 13.68%; */
  /* right: 81.04%; */
  top: calc(50% - 20px / 2 - 694px);
  margin-top: 20px;
  margin-bottom: 10px;

  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */

  color: #878787;
}
.c4 {
  position: absolute;
  height: 20px;
  /* left: 13.68%; */
  /* right: 81.04%; */
  top: calc(50% - 20px / 2 - 694px);
  margin-top: 20px;
  margin-bottom: 10px;

  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */

  color: #878787;
}
.c5 {
  position: absolute;
  height: 20px;
  /* left: 13.68%; */
  /* right: 81.04%; */
  top: calc(50% - 20px / 2 - 694px);
  margin-top: 20px;
  margin-bottom: 10px;

  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */

  color: #878787;
}
.c6 {
  position: absolute;
  height: 20px;
  /* left: 13.68%; */
  /* right: 81.04%; */
  top: calc(50% - 20px / 2 - 694px);
  margin-top: 20px;
  margin-bottom: 10px;

  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */

  color: #878787;
}
.c7 {
  position: absolute;
  /* height: 20px; */
  /* left: 13.68%; */
  /* right: 81.04%; */
  top: calc(50% - 20px / 2 - 694px);
  margin-top: 20px;
  margin-bottom: 10px;

  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */

  color: #878787;
}
/* 
.cards__head {
  position: absolute;
  width: 1440px;
  height: 949px;
  left: 0px;
  /* top: px; */

/* Color / Gray 4 */

/* background: #f8f8f8; */
/* } */

/* .cards__container {
  position: absolute;
  width: 1440px;
  height: 949px;
  left: 0px;
  top: 2459px;
} */
.import {
  position: absolute;
  left: 8.82%;
  right: 72.99%;
  top: 500px;
  /* bottom: 59.87%; */
  color: #ffffff;
  /* green */
  background: #87c405;
  border-radius: 7px;
}
.cards__it {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 0px;
}
.export {
  position: absolute;
  left: 8.82%;
  right: 72.99%;
  top: 500px;
  /* bottom: 0%; */
  color: #ffffff;
  /* Primary/blue/500 */

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #4b3c99;
  border-radius: 7px;
}
.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}
.svgitems {
  height: 35px;
  width: 100%;
}

.cards__item {
  margin-bottom: 24px;
}

.cards__item {
  position: relative;
  height: 30px;
  width: 100%;
  display: flex;

  /* left: 13.68%; */
  /* right: 83.26%; */

  /* top: calc(50% - 20px / 2 - 574px); */

  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 50px;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  position: absolute;
  /* left: 10.56%; */
  /* right: 74.86%; */
  /* top: 8.47%; */
  /* bottom: 89.66%; */
}
/* 
.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
} */

/* .fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
} */

/* .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
  } */
/* 
.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
} */

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
